.fields {
    display: grid;
    grid-column-gap: 0.4rem;
}

.fields > * {
    display: flex !important;
    flex-flow: column;
    min-width: 0;
}

.fields > * {
    flex-grow: 1;
}

.field-container .label-name {
    white-space: nowrap;
}
